.top-section {
	background-color: #3f3f3f;

	.top-section-content {
		

		.top-section-content-text{
			font-weight: 300;
			font-size: 30px;
			line-height: 36px;
			color: white;
			text-align: center;
			padding: 100px 0;
		}

		.top-section-content-aside {
			padding: 100px 0;
			text-align: center;
		
			p.top-section-content-number {
				color: $light-brown;
				font-size: 70px;

			}

			p.top-section-content-subnumber {
				text-transform: uppercase;
				color: white;
				padding: 15px;
				font-weight: bold;
			}
		}
	}
}
